:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation:    #d9d6cc; /* USED FOR BODY BACKGROUND */
    --swatch-primary:       #40454e; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement:    #353a44; /* USED IN CONTRAST BACKGROUND FOR TOOLBARS */
    --swatch-contrast:      #212121; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent:        #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --swatch-text:          #e9edf0; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */ 
    --swatch-text-accent:   #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --font-primary:         'Consolas', sans-serif;
}

body{
    font-family: var(--font-primary);
    background-color: var(--swatch-foundation);
}

.sidebar-controls *.inactive {
    cursor: default;
    filter: invert(0.6);
}

.sidebar-controls *.active {
    cursor: pointer;
    filter: invert(0);
}

.overlay {
    background-color:#00000077;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0px;
    left: 0px;
}

#delete-confirmation {
    display: none;
    user-select: none;
    background-color: var(--swatch-complement);
    box-sizing: border-box;
    border: 1px solid;
    z-index: 10;
    text-align: center;
    color: var(--swatch-text);
    animation-name: modalanimation;
    animation-duration: 0.4s;
}

@keyframes modalanimation {
    from {top: -300px; opacity: 0}
    to {top: 30%; opacity: 1}
}

#popup-options * {
    user-select: none;
    background: var(--swatch-primary);
    color: var(--swatch-text);
    border: none;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    font-family: var(--font-primary);
}

#popup-options *:hover {
    filter: invert(0.2);
}

::-webkit-scrollbar-track {
    background: var(--swatch-contrast);
  }

::-webkit-scrollbar-thumb {
    background: #a7a7a7;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 146, 146);
  }

#grid-container {
    background-color: var(--swatch-foundation);
    font-family: var(--font-primary);
}

.grid-item {
    background-color: var(--swatch-primary);
}

#navbar {
    box-shadow: 2px 2px 2px var(--swatch-primary); 
}

#sidebar {
    box-shadow: 2px 2px 2px var(--swatch-primary); 
    background-color: var(--swatch-complement);
    color: rgb(233,237,240);
}

[id^="list-context-menu-"] {
    background: #25272c;
}

[id^="list-element-"] {
    color: #9c9c9c;
}

.selected-list {
    background-color: var(--swatch-primary);
    color: var(--swatch-text);
}

.complete {
    color: #8ed4f8;
}

.incomplete {
    color: #f5bc75;
}

#lists-list {
    font-weight:bold;
}

.list {
    background-color : var(--swatch-complement);
}

#workspace {
    box-shadow: 2px 2px 2px var(--swatch-primary); 
    background-color: var(--swatch-primary);
    color: rgb(233,237,240);
}

#title {
    color: rgb(255,200,25);
    font-weight: bold;
    font-size: 24px;
}

#sidebar-header {
    background-color: var(--swatch-complement);
    border-bottom: solid;
    font-size: 19px;
    font-weight: bold;
}

#main-header{
    background-color: var(--swatch-primary);
    border-bottom: solid;
    font-size: 19px;
    font-weight: bold;
}

.list-item-card{
    font-weight: bold;
    border-bottom: solid;
    border-width:thin;
}

.list-item-card:hover {
    background-color:rgba(0, 0, 0, 0.192);
}

input[type="text"] {
    font: var(--font-primary);
    background-color: var(--swatch-primary);
    color: var(--swatch-text);
}

input[type=date]{
    font: var(--font-primary);
    background-color: var(--swatch-primary);
    color: var(--swatch-text);
}

select {
    font: var(--font-primary);
    background-color: var(--swatch-primary);
    color: var(--swatch-text);
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.todo_button {
    cursor:pointer;
}

.todo_button:hover {
    background-color: rgba(0, 0, 0, 0.356)
}

.control_button {
    cursor:pointer;
}

.control_button:hover {
    filter: invert(0.6);
}