body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}


#delete-confirmation{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 20px;
}

#popup-options * {
    padding: 10px 20px;
}

#sub-container {
    display: flex;
    margin: 0.5% 0.5%;
    height: 93vh;
}

#navbar {
    min-height: 40px;
    margin: 0.5vh 0.5vw;
    padding: 0.3vh;
    height: 4vh;
}

#title {
    user-select: none;
    padding: 1vh;
}

#sidebar {
    user-select: none;
    min-width: 220px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

#sidebar-header {
    height: 75px;
    padding: 5px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.sidebar-header-text {
    padding: 0.5vh;
}

.sidebar-controls{
    padding: 0vw 0%;
    display: flex;
    align-items: center;
    position: relative;
}

#add-list {
    padding: 0px 0.2vh
}

#undo {
    padding: 0px 0.2vh
}
#redo {
    padding: 0px 0.2vh
}

#lists-list{
    flex-direction: column;
    overflow: auto;
}

[id^="list-context-menu-"] {
    position: absolute;
    text-align: center;
}

[id^="list-context-menu-"] ul {
    padding: 0px;
    margin: 0px;
    min-width: 100px;
    list-style: none;
}

[id^="list-context-menu-"] ul li {
    padding-bottom: 7px;
    padding-top: 7px;
}

.list {
    overflow-wrap: break-word;
    padding: 15px;
    text-align: center;
}


#main-header{
    user-select: none;
    height: 75px;
    width: 95%;
    text-align: left;
    padding: 5px;
}

#header-col-text{
    padding: 10px 0px;
}

#workspace {
    display: flex;
    float: left;
    width: 93%;
    flex-direction: column;
    align-items: center;
}

#list-items{
    width: 95%;
    display: flex;
    flex-direction: column;
    overflow:auto;
}

input[type="text"] {
    width: 25%;
}

input[type="date"] {
    width: 25%;
}

select {
    width: 25%;
}

.list-item-card {
    display: flex;
    flex-direction: row;
    min-height: 75px;
}

.list-item-control {
    user-select: none;
    min-width: 10px;
    max-width: 20px;
    padding: 0.6vw;
}

#header-col-text{
    width: 25%;
}

.task-col {
    overflow-wrap: break-word;
    width:24.5%;
    padding: 25px 0px;
}

.due-date-col {
    width:24.5%;
    padding: 25px 0px;
}

.status-col {
    width:24.5%;
    padding: 25px 0px;
}

.main-controls{
    align-items: center;
    display: flex;
    padding-left: 2vw;
    width:25%;
}

.list-item-control {
    width: 20%;
}